{% extends "users/layout.html" %}
{% load static %}
{% block body %}

<style>
    body{
        background-image: url("{% static 'images/users_index.jpg' %}");
        background-attachment: fixed;
        background-position:0vmin;
        background-size: cover;
    }
</style>
<div style="align-items: center;">
    <h1><b style="font-size: 60px;">Welcome, {{ request.user.first_name }}</b></h1>

    <br>

    <ul>
      <div style="font-size: 20px;font-family: 'Hammersmith One', sans-serif;">
        <li>Username: {{ request.user.username }}</li>
        <li>Email: {{ request.user.email }}</li>
      </div>
    </ul>
    <br>
</div>

<ul>
      <a href="{% url 'courses:index' %}"><button class = "button3">REGISTER</button></a> &emsp;
      <a href="{% url 'courses:mycourses' %}"><button class = "button3">MY COURSES</button></a>
      <br>
</ul>

<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <p class="w3-block w3-black"></p>
    </div>
    <div class="w3-col s3">
      <p class="w3-block w3-black"></p>
    </div>
    <div class="w3-col s3">
      <p class="w3-block w3-black"></p>
    </div>
    <div class="w3-col s3">
      <a href="{% url 'users:logout' %}" class="w3-button w3-block w3-black"><b>LOG OUT</b></a>
    </div>
  </div>
</div>
    
{% if request.user.is_superuser %}
    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
          <div class="w3-col s3">
            <p class="w3-block w3-black"></p>
          </div>
          <div class="w3-col s3">
            <a href="{% url 'admin:index' %}" class="w3-button w3-block w3-black"><b>ADMIN</b></a>
          </div>
          <div class="w3-col s3">
            <a href="{% url 'courses:admin'%}" class="w3-button w3-block w3-black"><b>COURSES</b></a>
          </div>
          <div class="w3-col s3">
            <a href="{% url 'users:logout' %}" class="w3-button w3-block w3-black"><b>LOG OUT</b></a>
          </div>
        </div>
    </div>
{% endif %}

{% endblock %}
